body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 126%;
}
.App {
  text-align: center;
}
h4{
  margin-bottom: 0%;
  margin-top: 0%;
}
h5 {
  margin-top: 0%;
}
.song-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.song {
  display: flex;
  text-align: initial;
  padding: 1%;
  border-radius: 1vw;
  width: 80%;
  margin: 1vw;
  background-color: rgb(215, 213, 213);
  box-shadow: 6px 5px;
}

.song-text {
  margin-left: 3%;
}

img {
  border-radius: 10%;
}

audio {
  height: 3vw;
}
figure {
  margin-inline-start: 0;
}